
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 100% 50%;
    --foreground: 0 0% 100%;

    --card: 0 100% 50%;
    --card-foreground: 0 0% 100%;

    --popover: 0 100% 50%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 100% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 80% 60%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 60% 70%;
    --muted-foreground: 0 20% 30%;

    --accent: 0 80% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 80% 60%;
    --input: 0 80% 60%;
    --ring: 0 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}