
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 140 100% 40%;
    --foreground: 0 0% 100%;

    --card: 140 100% 40%;
    --card-foreground: 0 0% 100%;

    --popover: 140 100% 40%;
    --popover-foreground: 0 0% 100%;

    --primary: 140 100% 30%;
    --primary-foreground: 0 0% 100%;

    --secondary: 140 80% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 140 60% 60%;
    --muted-foreground: 140 20% 20%;

    --accent: 140 80% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 140 80% 50%;
    --input: 140 80% 50%;
    --ring: 140 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}